In [1]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re

import requests
from bs4 import BeautifulSoup
import time

sns.set_style('whitegrid')
sns.set(rc={"figure.figsize": (15, 8)})

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

<div style="width:900px;background:#F9EECF;border:1px solid black;text-align:left;padding:8px;">



<p>
<span style="font-size:14pt"><b>Scraping from indeed.com</span></b>

</div>

In [2]:
# Scraping from indeed.com

country_url = {"SG":"https://www.indeed.com.sg/jobs",
       "US":"https://www.indeed.com/jobs",
       "MY":"https://www.indeed.com.my/jobs",
       "HK":"https://www.indeed.hk/jobs",
       "ID":"https://id.indeed.com/lowongan-kerja"
       
       }

countries = {"SG":"Singapore","US":"United States","MY":"Malaysia","HK":"Hong Kong","ID":'Indonesia'}

target_cities= {'US':
                      ['New York', 'Chicago', 'San Francisco', 'Austin', 'Seattle',
                  'Los Angeles', 'Philadelphia', 'Atlanta', 'Dallas',
                  'Pittsburgh', 'Portland', 'Phoenix', 'Denver', 'Houston','Miami'],
                'SG':["Singapore"],
                'MY':['Kuala Lumpur','Johor Bahru','Shah Alam'],
                'HK':['Hong Kong'],
                'ID':['Jakarta','Batam','Surabaya']
                }

job_titles = ['data scientist', 'data analyst','chief data officer','chief information officer',\
              'data engineer','business intelligence','artifical intelligence','machine learning'\
             'data consultant','marketing analyst','marketing intelligence','deep learning',\
             'chatbot','system analyst','data crawling','data entry','data administrator',\
             'nlp','data analytics','data']

In [3]:
def scrape_title(chunk): 
    
    job_titles = []
    
    try:
        title = chunk.find('h2',{'class':'jobtitle'}).get_text()
        job_titles.append(title)
    except:
        job_titles.append(np.nan)
        
    return job_titles

def scrape_company(chunk):
    
    companies = []
    
    try:
        company = chunk.find('span',{'class':'company'}).get_text()
        companies.append(company)
    except:
        companies.append(np.nan)
        
    return companies

def scrape_location(chunk):
    
    locations = []
    
    try:
        location = chunk.find('span',{'class':'location'}).get_text()
        locations.append(location)
    except:
        locations.append(np.nan)
        
    return locations

def scrape_review(chunk):
    
    reviews = []
    
    try:
        review = chunk.find('span',{'class':'slNoUnderline'}).get_text()
        review_ = int(review.replace(' reviews','').replace(',',''))
        reviews.append(review_)
    except:
        reviews.append(np.nan)
        
    return reviews

def scrape_rating(chunk):
    
    ratings = []
    
    try:
        rating = chunk.find('span',{'class':'rating'})
        ratings.append(float(rating.get('style').replace('width:','').replace('px','')))
        
    except:
        ratings.append(np.nan)
        
    return ratings

def scrape_salary(chunk):
    
    salaries = []
    
    #get_extra = soup.findAll("div", {"data-tn-component":"organicJob"})

    #for chunk in get_extra:

    try:
        if '$' in chunk.find('span',{'class':'no-wrap'}).get_text().encode('ascii','ignore'):
            salary_range = chunk.find('span',{'class':'no-wrap'}).get_text().encode('ascii','ignore')
            #salary = re.findall(r'\d+',salary_range.replace(',',''))

            #if 'hour' in salary_range:
            #    salary = salary * 2080
            #elif 'day' in salary_range:
            #    salary = salary * 260
            #elif 'week' in salary_range:
            #    salary = salary * 52
            salaries.append(salary_range)

            #salaries.append(np.mean([float(s) for s in salary]))
    except:
        salaries.append(np.nan)
        
    return salaries
            
def scrape_jobtype(chunk):
    
    job_types = []
    
    #get_extra = soup.findAll("div", {"data-tn-component":"organicJob"})

    #for chunk in soup:
    try:
        if '$' not in chunk.find('span',{'class':'no-wrap'}).get_text().encode('ascii','ignore'):
            job_types.append(chunk.find('span',{'class':'no-wrap'}).get_text().encode('ascii','ignore'))
        else:
            job_types.append(np.nan)
                        
    except:
        job_types.append(np.nan)
        
    return job_types
            
def scrape_summary(chunk):
    
    summaries = []

    try:
        summaries.append(chunk.find("span", {"id":"job_summary"}).get_text())
    except:
        summaries.append(np.nan)
            
    return summaries

In [4]:
# find max pages

url = 'https://www.indeed.com/jobs?q=data&start='
response = requests.get(url)
html = response.text
max_soup = BeautifulSoup(html, 'lxml')

max_page = int(max_soup.find('div',{'id':'searchCount'}).text.split(' ')[-1].replace(',',''))

if max_page % 10 == 0:
    max_page = max_page/10
else:
    max_page = max_page/10 + 1
    

job_titles_ = []
companies_ = []
locations_ = []
reviews_ = []
salaries_ = []
job_types_ = []
ratings_ = []

for i in range(0,3490,10):
    
    url = url+str(i)
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'lxml').find_all('div', {"data-tn-component":"organicJob"})
    
    for chunk in soup:
    
        job_titles = job_titles_.extend(scrape_title(chunk))
        companies = companies_.extend(scrape_company(chunk))
        locations = locations_.extend(scrape_location(chunk))
        reviews = reviews_.extend(scrape_review(chunk))
        salaries = salaries_.extend(scrape_salary(chunk))
        job_types = job_types_.extend(scrape_jobtype(chunk))
        ratings = ratings_.extend(scrape_rating(chunk))

    print '......... Number of jobs scraped ' + str(i + 10)+ ' .........'

    time.sleep(3)

results = pd.DataFrame()

results['job_titles'] = job_titles_
results['companies'] = companies_
results['locations'] = locations_
results['reviews'] = reviews_
results['salaries'] = salaries_
results['job_types'] = job_types_
results['ratings'] = ratings_

results.head(20)

......... Number of jobs scraped 10 .........
......... Number of jobs scraped 20 .........
......... Number of jobs scraped 30 .........
......... Number of jobs scraped 40 .........
......... Number of jobs scraped 50 .........
......... Number of jobs scraped 60 .........
......... Number of jobs scraped 70 .........
......... Number of jobs scraped 80 .........
......... Number of jobs scraped 90 .........
......... Number of jobs scraped 100 .........
......... Number of jobs scraped 110 .........
......... Number of jobs scraped 120 .........
......... Number of jobs scraped 130 .........
......... Number of jobs scraped 140 .........
......... Number of jobs scraped 150 .........
......... Number of jobs scraped 160 .........
......... Number of jobs scraped 170 .........
......... Number of jobs scraped 180 .........
......... Number of jobs scraped 190 .........
......... Number of jobs scraped 200 .........
......... Number of jobs scraped 210 .........
......... Number of jobs scraped 220 .........
......... Number of jobs scraped 230 .........
......... Number of jobs scraped 240 .........
......... Number of jobs scraped 250 .........
......... Number of jobs scraped 260 .........
......... Number of jobs scraped 270 .........
......... Number of jobs scraped 280 .........
......... Number of jobs scraped 290 .........
......... Number of jobs scraped 300 .........
......... Number of jobs scraped 310 .........
......... Number of jobs scraped 320 .........
......... Number of jobs scraped 330 .........
......... Number of jobs scraped 340 .........
......... Number of jobs scraped 350 .........
......... Number of jobs scraped 360 .........
......... Number of jobs scraped 370 .........
......... Number of jobs scraped 380 .........
......... Number of jobs scraped 390 .........
......... Number of jobs scraped 400 .........
......... Number of jobs scraped 410 .........
......... Number of jobs scraped 420 .........
......... Number of jobs scraped 430 .........
......... Number of jobs scraped 440 .........
......... Number of jobs scraped 450 .........
......... Number of jobs scraped 460 .........
......... Number of jobs scraped 470 .........
......... Number of jobs scraped 480 .........
......... Number of jobs scraped 490 .........
......... Number of jobs scraped 500 .........
......... Number of jobs scraped 510 .........
......... Number of jobs scraped 520 .........
......... Number of jobs scraped 530 .........
......... Number of jobs scraped 540 .........
......... Number of jobs scraped 550 .........
......... Number of jobs scraped 560 .........
......... Number of jobs scraped 570 .........
......... Number of jobs scraped 580 .........
......... Number of jobs scraped 590 .........
......... Number of jobs scraped 600 .........
......... Number of jobs scraped 610 .........
......... Number of jobs scraped 620 .........
......... Number of jobs scraped 630 .........
......... Number of jobs scraped 640 .........
......... Number of jobs scraped 650 .........
......... Number of jobs scraped 660 .........
......... Number of jobs scraped 670 .........
......... Number of jobs scraped 680 .........
......... Number of jobs scraped 690 .........
......... Number of jobs scraped 700 .........
......... Number of jobs scraped 710 .........
......... Number of jobs scraped 720 .........
......... Number of jobs scraped 730 .........
......... Number of jobs scraped 740 .........
......... Number of jobs scraped 750 .........
......... Number of jobs scraped 760 .........
......... Number of jobs scraped 770 .........
......... Number of jobs scraped 780 .........
......... Number of jobs scraped 790 .........
......... Number of jobs scraped 800 .........
......... Number of jobs scraped 810 .........
......... Number of jobs scraped 820 .........
......... Number of jobs scraped 830 .........
......... Number of jobs scraped 840 .........
......... Number of jobs scraped 850 .........
......... Number of jobs scraped 860 .........
......... Number of jobs scraped 870 .........
......... Number of jobs scraped 880 .........
......... Number of jobs scraped 890 .........
......... Number of jobs scraped 900 .........
......... Number of jobs scraped 910 .........
......... Number of jobs scraped 920 .........
......... Number of jobs scraped 930 .........
......... Number of jobs scraped 940 .........
......... Number of jobs scraped 950 .........
......... Number of jobs scraped 960 .........
......... Number of jobs scraped 970 .........
......... Number of jobs scraped 980 .........
......... Number of jobs scraped 990 .........
......... Number of jobs scraped 1000 .........
......... Number of jobs scraped 1010 .........
......... Number of jobs scraped 1020 .........
......... Number of jobs scraped 1030 .........
......... Number of jobs scraped 1040 .........
......... Number of jobs scraped 1050 .........
......... Number of jobs scraped 1060 .........
......... Number of jobs scraped 1070 .........
......... Number of jobs scraped 1080 .........
......... Number of jobs scraped 1090 .........
......... Number of jobs scraped 1100 .........
......... Number of jobs scraped 1110 .........
......... Number of jobs scraped 1120 .........
......... Number of jobs scraped 1130 .........
......... Number of jobs scraped 1140 .........
......... Number of jobs scraped 1150 .........
......... Number of jobs scraped 1160 .........
......... Number of jobs scraped 1170 .........
......... Number of jobs scraped 1180 .........
......... Number of jobs scraped 1190 .........
......... Number of jobs scraped 1200 .........
......... Number of jobs scraped 1210 .........
......... Number of jobs scraped 1220 .........
......... Number of jobs scraped 1230 .........
......... Number of jobs scraped 1240 .........
......... Number of jobs scraped 1250 .........
......... Number of jobs scraped 1260 .........
......... Number of jobs scraped 1270 .........
......... Number of jobs scraped 1280 .........
......... Number of jobs scraped 1290 .........
......... Number of jobs scraped 1300 .........
......... Number of jobs scraped 1310 .........
......... Number of jobs scraped 1320 .........
......... Number of jobs scraped 1330 .........
......... Number of jobs scraped 1340 .........
......... Number of jobs scraped 1350 .........
......... Number of jobs scraped 1360 .........
......... Number of jobs scraped 1370 .........
......... Number of jobs scraped 1380 .........
......... Number of jobs scraped 1390 .........
......... Number of jobs scraped 1400 .........
......... Number of jobs scraped 1410 .........
......... Number of jobs scraped 1420 .........
......... Number of jobs scraped 1430 .........
......... Number of jobs scraped 1440 .........
......... Number of jobs scraped 1450 .........
......... Number of jobs scraped 1460 .........
......... Number of jobs scraped 1470 .........
......... Number of jobs scraped 1480 .........
......... Number of jobs scraped 1490 .........
......... Number of jobs scraped 1500 .........
......... Number of jobs scraped 1510 .........
......... Number of jobs scraped 1520 .........
......... Number of jobs scraped 1530 .........
......... Number of jobs scraped 1540 .........
......... Number of jobs scraped 1550 .........
......... Number of jobs scraped 1560 .........
......... Number of jobs scraped 1570 .........
......... Number of jobs scraped 1580 .........
......... Number of jobs scraped 1590 .........
......... Number of jobs scraped 1600 .........
......... Number of jobs scraped 1610 .........
......... Number of jobs scraped 1620 .........
......... Number of jobs scraped 1630 .........
......... Number of jobs scraped 1640 .........
......... Number of jobs scraped 1650 .........
......... Number of jobs scraped 1660 .........
......... Number of jobs scraped 1670 .........
......... Number of jobs scraped 1680 .........
......... Number of jobs scraped 1690 .........
......... Number of jobs scraped 1700 .........
......... Number of jobs scraped 1710 .........
......... Number of jobs scraped 1720 .........
......... Number of jobs scraped 1730 .........

......... Number of jobs scraped 1740 .........
......... Number of jobs scraped 1750 .........
......... Number of jobs scraped 1760 .........
......... Number of jobs scraped 1770 .........
......... Number of jobs scraped 1780 .........
......... Number of jobs scraped 1790 .........
......... Number of jobs scraped 1800 .........
......... Number of jobs scraped 1810 .........
......... Number of jobs scraped 1820 .........
......... Number of jobs scraped 1830 .........
......... Number of jobs scraped 1840 .........
......... Number of jobs scraped 1850 .........
......... Number of jobs scraped 1860 .........
......... Number of jobs scraped 1870 .........
......... Number of jobs scraped 1880 .........
......... Number of jobs scraped 1890 .........
......... Number of jobs scraped 1900 .........
......... Number of jobs scraped 1910 .........
......... Number of jobs scraped 1920 .........
......... Number of jobs scraped 1930 .........
......... Number of jobs scraped 1940 .........
......... Number of jobs scraped 1950 .........
......... Number of jobs scraped 1960 .........
......... Number of jobs scraped 1970 .........
......... Number of jobs scraped 1980 .........
......... Number of jobs scraped 1990 .........
......... Number of jobs scraped 2000 .........
......... Number of jobs scraped 2010 .........
......... Number of jobs scraped 2020 .........
......... Number of jobs scraped 2030 .........
......... Number of jobs scraped 2040 .........
......... Number of jobs scraped 2050 .........
......... Number of jobs scraped 2060 .........
......... Number of jobs scraped 2070 .........
......... Number of jobs scraped 2080 .........
......... Number of jobs scraped 2090 .........
......... Number of jobs scraped 2100 .........
......... Number of jobs scraped 2110 .........
......... Number of jobs scraped 2120 .........
......... Number of jobs scraped 2130 .........
......... Number of jobs scraped 2140 .........
......... Number of jobs scraped 2150 .........
......... Number of jobs scraped 2160 .........
......... Number of jobs scraped 2170 .........
......... Number of jobs scraped 2180 .........
......... Number of jobs scraped 2190 .........
......... Number of jobs scraped 2200 .........
......... Number of jobs scraped 2210 .........
......... Number of jobs scraped 2220 .........
......... Number of jobs scraped 2230 .........
......... Number of jobs scraped 2240 .........
......... Number of jobs scraped 2250 .........
......... Number of jobs scraped 2260 .........
......... Number of jobs scraped 2270 .........
......... Number of jobs scraped 2280 .........
......... Number of jobs scraped 2290 .........
......... Number of jobs scraped 2300 .........
......... Number of jobs scraped 2310 .........
......... Number of jobs scraped 2320 .........
......... Number of jobs scraped 2330 .........
......... Number of jobs scraped 2340 .........
......... Number of jobs scraped 2350 .........
......... Number of jobs scraped 2360 .........
......... Number of jobs scraped 2370 .........
......... Number of jobs scraped 2380 .........
......... Number of jobs scraped 2390 .........
......... Number of jobs scraped 2400 .........
......... Number of jobs scraped 2410 .........
......... Number of jobs scraped 2420 .........
......... Number of jobs scraped 2430 .........
......... Number of jobs scraped 2440 .........
......... Number of jobs scraped 2450 .........
......... Number of jobs scraped 2460 .........
......... Number of jobs scraped 2470 .........
......... Number of jobs scraped 2480 .........
......... Number of jobs scraped 2490 .........
......... Number of jobs scraped 2500 .........
......... Number of jobs scraped 2510 .........
......... Number of jobs scraped 2520 .........
......... Number of jobs scraped 2530 .........
......... Number of jobs scraped 2540 .........
......... Number of jobs scraped 2550 .........
......... Number of jobs scraped 2560 .........
......... Number of jobs scraped 2570 .........
......... Number of jobs scraped 2580 .........
......... Number of jobs scraped 2590 .........
......... Number of jobs scraped 2600 .........
......... Number of jobs scraped 2610 .........
......... Number of jobs scraped 2620 .........
......... Number of jobs scraped 2630 .........
......... Number of jobs scraped 2640 .........
......... Number of jobs scraped 2650 .........
......... Number of jobs scraped 2660 .........
......... Number of jobs scraped 2670 .........
......... Number of jobs scraped 2680 .........
......... Number of jobs scraped 2690 .........
......... Number of jobs scraped 2700 .........
......... Number of jobs scraped 2710 .........
......... Number of jobs scraped 2720 .........
......... Number of jobs scraped 2730 .........
......... Number of jobs scraped 2740 .........
......... Number of jobs scraped 2750 .........
......... Number of jobs scraped 2760 .........
......... Number of jobs scraped 2770 .........
......... Number of jobs scraped 2780 .........
......... Number of jobs scraped 2790 .........
......... Number of jobs scraped 2800 .........
......... Number of jobs scraped 2810 .........
......... Number of jobs scraped 2820 .........
......... Number of jobs scraped 2830 .........
......... Number of jobs scraped 2840 .........
......... Number of jobs scraped 2850 .........
......... Number of jobs scraped 2860 .........
......... Number of jobs scraped 2870 .........
......... Number of jobs scraped 2880 .........
......... Number of jobs scraped 2890 .........
......... Number of jobs scraped 2900 .........
......... Number of jobs scraped 2910 .........
......... Number of jobs scraped 2920 .........
......... Number of jobs scraped 2930 .........
......... Number of jobs scraped 2940 .........
......... Number of jobs scraped 2950 .........
......... Number of jobs scraped 2960 .........
......... Number of jobs scraped 2970 .........
......... Number of jobs scraped 2980 .........
......... Number of jobs scraped 2990 .........
......... Number of jobs scraped 3000 .........
......... Number of jobs scraped 3010 .........
......... Number of jobs scraped 3020 .........
......... Number of jobs scraped 3030 .........
......... Number of jobs scraped 3040 .........
......... Number of jobs scraped 3050 .........
......... Number of jobs scraped 3060 .........
......... Number of jobs scraped 3070 .........
......... Number of jobs scraped 3080 .........
......... Number of jobs scraped 3090 .........
......... Number of jobs scraped 3100 .........
......... Number of jobs scraped 3110 .........
......... Number of jobs scraped 3120 .........
......... Number of jobs scraped 3130 .........
......... Number of jobs scraped 3140 .........
......... Number of jobs scraped 3150 .........
......... Number of jobs scraped 3160 .........
......... Number of jobs scraped 3170 .........
......... Number of jobs scraped 3180 .........
......... Number of jobs scraped 3190 .........
......... Number of jobs scraped 3200 .........
......... Number of jobs scraped 3210 .........
......... Number of jobs scraped 3220 .........
......... Number of jobs scraped 3230 .........
......... Number of jobs scraped 3240 .........
......... Number of jobs scraped 3250 .........
......... Number of jobs scraped 3260 .........
......... Number of jobs scraped 3270 .........
......... Number of jobs scraped 3280 .........
......... Number of jobs scraped 3290 .........
......... Number of jobs scraped 3300 .........
......... Number of jobs scraped 3310 .........
......... Number of jobs scraped 3320 .........
......... Number of jobs scraped 3330 .........
......... Number of jobs scraped 3340 .........
......... Number of jobs scraped 3350 .........
......... Number of jobs scraped 3360 .........
......... Number of jobs scraped 3370 .........
......... Number of jobs scraped 3380 .........
......... Number of jobs scraped 3390 .........
......... Number of jobs scraped 3400 .........
......... Number of jobs scraped 3410 .........
......... Number of jobs scraped 3420 .........
......... Number of jobs scraped 3430 .........
......... Number of jobs scraped 3440 .........

......... Number of jobs scraped 3450 .........
......... Number of jobs scraped 3460 .........
......... Number of jobs scraped 3470 .........
......... Number of jobs scraped 3480 .........
......... Number of jobs scraped 3490 .........

,job_titles,companies,locations,reviews,salaries,job_types,ratings
0,\nData Scientist Intern\n,\n\nNIKE INC,"Beaverton, OR",4325.0,NaN,NaN,52.2
1,\nData Science Intern\n,\n\nExpedia,"Bellevue, WA 98004 (Downtown area)",467.0,NaN,NaN,51.0
2,"\nAnalyst, Reporting & Analytics\n",\n\nT-Mobile,"Bellevue, WA 98006 (Somerset area)",6697.0,NaN,NaN,51.0
3,\nAnalytics Intern - Central Technology - Boul...,\n\nActivision,"Boulder, CO",59.0,NaN,NaN,51.6
4,\nContract Support Assistant\n,\n\nCubic Corporation,Remote,138.0,NaN,NaN,42.6
5,\nData Analyst (Remote)\n,\nFirst San Francisco Partners,Remote,NaN,NaN,NaN,NaN
6,\nData Conversion Specialist\n,\n\nPaylocity,Remote,49.0,NaN,NaN,41.4
7,\nData Analytics Co-Op - Advanced Degrees\n,\n\nAT&T,California,19458.0,NaN,NaN,44.4
8,\nData Scientist Intern\n,\n\nIllumina,"San Diego, CA 92122",99.0,NaN,NaN,42.6
9,\nData Analyst (PCMH)\n,\n\nProspect Medical Systems,Rhode Island,32.0,NaN,NaN,31.8
10,\nData Scientist Intern\n,"\n\nVolkswagen Group of America, Inc.","Auburn Hills, MI",3706.0,NaN,NaN,51.6
11,\nData Analytics Co-Op - Advanced Degrees\n,\n\nAT&T,California,19458.0,NaN,NaN,44.4
12,\nData Scientist Intern\n,\n\nAsurion,"Nashville, TN 37214",1177.0,NaN,NaN,43.8
13,\nData Protection Officer\n,\n\nGroupon,"Chicago, IL 60654 (Loop area)",549.0,NaN,NaN,42.6
14,\nAssociate Data Scientist / Pricing Analyst\n,\n\nExpedia,"Bellevue, WA 98004 (Downtown area)",467.0,NaN,NaN,51.0
15,"\nProduct Analyst, Data Science\n",\n\nGoogle,"Mountain View, CA",1787.0,NaN,NaN,52.8
16,\nData Analyst (PCMH)\n,\n\nProspect Medical Systems,Rhode Island,32.0,NaN,NaN,31.8
17,\nData Analytics and Business Intelligence Ana...,\n\nApple,"Sacramento, CA 95823 (Parkway area)",4210.0,NaN,NaN,52.2
18,\nClinical Data Reviewer\n,\nKatalyst Healthcares & Life Sciences,Remote,NaN,NaN,NaN,NaN
19,\nRESEARCH ASSISTANT\n,\n\nMemorial Hospital,Rhode Island,684.0,NaN,NaN,44.4

In [5]:
results.to_pickle('results.pickle')

In [11]:
# find max pages

url = 'https://www.indeed.com/jobs?q=data&start='
response = requests.get(url)
html = response.text
max_soup = BeautifulSoup(html, 'lxml')

#max_page = int(max_soup.find('div',{'id':'searchCount'}).text.split(' ')[-1].replace(',',''))

#if max_page % 10 == 0:
#    max_page = max_page/10
#else:
#    max_page = max_page/10 + 1
    

job_titles_ = []
companies_ = []
locations_ = []
reviews_ = []
salaries_ = []
job_types_ = []
ratings_ = []

for i in range(3500,6000,10):
    
    url = url+str(i)
    response = requests.get(url)
    html = response.text
    soup = BeautifulSoup(html, 'lxml').find_all('div', {"data-tn-component":"organicJob"})
    
    for chunk in soup:
    
        job_titles = job_titles_.extend(scrape_title(chunk))
        companies = companies_.extend(scrape_company(chunk))
        locations = locations_.extend(scrape_location(chunk))
        reviews = reviews_.extend(scrape_review(chunk))
        salaries = salaries_.extend(scrape_salary(chunk))
        job_types = job_types_.extend(scrape_jobtype(chunk))
        ratings = ratings_.extend(scrape_rating(chunk))

    print '......... Number of jobs scraped ' + str(i + 10)+ ' .........'

    time.sleep(3)

results = pd.DataFrame()

results['job_titles'] = job_titles_
results['companies'] = companies_
results['locations'] = locations_
results['reviews'] = reviews_
results['salaries'] = salaries_
results['job_types'] = job_types_
results['ratings'] = ratings_

results.head(20)

......... Number of jobs scraped 3510 .........
......... Number of jobs scraped 3520 .........
......... Number of jobs scraped 3530 .........
......... Number of jobs scraped 3540 .........
......... Number of jobs scraped 3550 .........
......... Number of jobs scraped 3560 .........
......... Number of jobs scraped 3570 .........
......... Number of jobs scraped 3580 .........
......... Number of jobs scraped 3590 .........
......... Number of jobs scraped 3600 .........
......... Number of jobs scraped 3610 .........
......... Number of jobs scraped 3620 .........
......... Number of jobs scraped 3630 .........
......... Number of jobs scraped 3640 .........
......... Number of jobs scraped 3650 .........
......... Number of jobs scraped 3660 .........
......... Number of jobs scraped 3670 .........
......... Number of jobs scraped 3680 .........
......... Number of jobs scraped 3690 .........
......... Number of jobs scraped 3700 .........
......... Number of jobs scraped 3710 .........
......... Number of jobs scraped 3720 .........
......... Number of jobs scraped 3730 .........
......... Number of jobs scraped 3740 .........
......... Number of jobs scraped 3750 .........
......... Number of jobs scraped 3760 .........
......... Number of jobs scraped 3770 .........
......... Number of jobs scraped 3780 .........
......... Number of jobs scraped 3790 .........
......... Number of jobs scraped 3800 .........
......... Number of jobs scraped 3810 .........
......... Number of jobs scraped 3820 .........
......... Number of jobs scraped 3830 .........
......... Number of jobs scraped 3840 .........
......... Number of jobs scraped 3850 .........
......... Number of jobs scraped 3860 .........
......... Number of jobs scraped 3870 .........
......... Number of jobs scraped 3880 .........
......... Number of jobs scraped 3890 .........
......... Number of jobs scraped 3900 .........
......... Number of jobs scraped 3910 .........
......... Number of jobs scraped 3920 .........
......... Number of jobs scraped 3930 .........
......... Number of jobs scraped 3940 .........
......... Number of jobs scraped 3950 .........
......... Number of jobs scraped 3960 .........
......... Number of jobs scraped 3970 .........
......... Number of jobs scraped 3980 .........
......... Number of jobs scraped 3990 .........
......... Number of jobs scraped 4000 .........
......... Number of jobs scraped 4010 .........
......... Number of jobs scraped 4020 .........
......... Number of jobs scraped 4030 .........
......... Number of jobs scraped 4040 .........
......... Number of jobs scraped 4050 .........
......... Number of jobs scraped 4060 .........
......... Number of jobs scraped 4070 .........
......... Number of jobs scraped 4080 .........
......... Number of jobs scraped 4090 .........
......... Number of jobs scraped 4100 .........
......... Number of jobs scraped 4110 .........
......... Number of jobs scraped 4120 .........
......... Number of jobs scraped 4130 .........
......... Number of jobs scraped 4140 .........
......... Number of jobs scraped 4150 .........
......... Number of jobs scraped 4160 .........
......... Number of jobs scraped 4170 .........
......... Number of jobs scraped 4180 .........
......... Number of jobs scraped 4190 .........
......... Number of jobs scraped 4200 .........
......... Number of jobs scraped 4210 .........
......... Number of jobs scraped 4220 .........
......... Number of jobs scraped 4230 .........
......... Number of jobs scraped 4240 .........
......... Number of jobs scraped 4250 .........
......... Number of jobs scraped 4260 .........
......... Number of jobs scraped 4270 .........
......... Number of jobs scraped 4280 .........
......... Number of jobs scraped 4290 .........
......... Number of jobs scraped 4300 .........
......... Number of jobs scraped 4310 .........
......... Number of jobs scraped 4320 .........
......... Number of jobs scraped 4330 .........
......... Number of jobs scraped 4340 .........
......... Number of jobs scraped 4350 .........
......... Number of jobs scraped 4360 .........
......... Number of jobs scraped 4370 .........
......... Number of jobs scraped 4380 .........
......... Number of jobs scraped 4390 .........
......... Number of jobs scraped 4400 .........
......... Number of jobs scraped 4410 .........
......... Number of jobs scraped 4420 .........
......... Number of jobs scraped 4430 .........
......... Number of jobs scraped 4440 .........
......... Number of jobs scraped 4450 .........
......... Number of jobs scraped 4460 .........
......... Number of jobs scraped 4470 .........
......... Number of jobs scraped 4480 .........
......... Number of jobs scraped 4490 .........
......... Number of jobs scraped 4500 .........
......... Number of jobs scraped 4510 .........
......... Number of jobs scraped 4520 .........
......... Number of jobs scraped 4530 .........
......... Number of jobs scraped 4540 .........
......... Number of jobs scraped 4550 .........
......... Number of jobs scraped 4560 .........
......... Number of jobs scraped 4570 .........
......... Number of jobs scraped 4580 .........
......... Number of jobs scraped 4590 .........
......... Number of jobs scraped 4600 .........
......... Number of jobs scraped 4610 .........
......... Number of jobs scraped 4620 .........
......... Number of jobs scraped 4630 .........
......... Number of jobs scraped 4640 .........
......... Number of jobs scraped 4650 .........
......... Number of jobs scraped 4660 .........
......... Number of jobs scraped 4670 .........
......... Number of jobs scraped 4680 .........
......... Number of jobs scraped 4690 .........
......... Number of jobs scraped 4700 .........
......... Number of jobs scraped 4710 .........
......... Number of jobs scraped 4720 .........
......... Number of jobs scraped 4730 .........
......... Number of jobs scraped 4740 .........
......... Number of jobs scraped 4750 .........
......... Number of jobs scraped 4760 .........
......... Number of jobs scraped 4770 .........
......... Number of jobs scraped 4780 .........
......... Number of jobs scraped 4790 .........
......... Number of jobs scraped 4800 .........
......... Number of jobs scraped 4810 .........
......... Number of jobs scraped 4820 .........
......... Number of jobs scraped 4830 .........
......... Number of jobs scraped 4840 .........
......... Number of jobs scraped 4850 .........
......... Number of jobs scraped 4860 .........
......... Number of jobs scraped 4870 .........
......... Number of jobs scraped 4880 .........
......... Number of jobs scraped 4890 .........
......... Number of jobs scraped 4900 .........
......... Number of jobs scraped 4910 .........
......... Number of jobs scraped 4920 .........
......... Number of jobs scraped 4930 .........
......... Number of jobs scraped 4940 .........
......... Number of jobs scraped 4950 .........
......... Number of jobs scraped 4960 .........
......... Number of jobs scraped 4970 .........
......... Number of jobs scraped 4980 .........
......... Number of jobs scraped 4990 .........
......... Number of jobs scraped 5000 .........
......... Number of jobs scraped 5010 .........
......... Number of jobs scraped 5020 .........
......... Number of jobs scraped 5030 .........
......... Number of jobs scraped 5040 .........
......... Number of jobs scraped 5050 .........
......... Number of jobs scraped 5060 .........
......... Number of jobs scraped 5070 .........
......... Number of jobs scraped 5080 .........
......... Number of jobs scraped 5090 .........
......... Number of jobs scraped 5100 .........
......... Number of jobs scraped 5110 .........
......... Number of jobs scraped 5120 .........
......... Number of jobs scraped 5130 .........
......... Number of jobs scraped 5140 .........
......... Number of jobs scraped 5150 .........
......... Number of jobs scraped 5160 .........
......... Number of jobs scraped 5170 .........
......... Number of jobs scraped 5180 .........
......... Number of jobs scraped 5190 .........
......... Number of jobs scraped 5200 .........
......... Number of jobs scraped 5210 .........

......... Number of jobs scraped 5220 .........
......... Number of jobs scraped 5230 .........
......... Number of jobs scraped 5240 .........
......... Number of jobs scraped 5250 .........
......... Number of jobs scraped 5260 .........
......... Number of jobs scraped 5270 .........
......... Number of jobs scraped 5280 .........
......... Number of jobs scraped 5290 .........
......... Number of jobs scraped 5300 .........
......... Number of jobs scraped 5310 .........
......... Number of jobs scraped 5320 .........
......... Number of jobs scraped 5330 .........
......... Number of jobs scraped 5340 .........
......... Number of jobs scraped 5350 .........
......... Number of jobs scraped 5360 .........
......... Number of jobs scraped 5370 .........
......... Number of jobs scraped 5380 .........
......... Number of jobs scraped 5390 .........
......... Number of jobs scraped 5400 .........
......... Number of jobs scraped 5410 .........
......... Number of jobs scraped 5420 .........
......... Number of jobs scraped 5430 .........
......... Number of jobs scraped 5440 .........
......... Number of jobs scraped 5450 .........
......... Number of jobs scraped 5460 .........
......... Number of jobs scraped 5470 .........
......... Number of jobs scraped 5480 .........
......... Number of jobs scraped 5490 .........
......... Number of jobs scraped 5500 .........
......... Number of jobs scraped 5510 .........
......... Number of jobs scraped 5520 .........
......... Number of jobs scraped 5530 .........
......... Number of jobs scraped 5540 .........
......... Number of jobs scraped 5550 .........
......... Number of jobs scraped 5560 .........
......... Number of jobs scraped 5570 .........
......... Number of jobs scraped 5580 .........
......... Number of jobs scraped 5590 .........
......... Number of jobs scraped 5600 .........
......... Number of jobs scraped 5610 .........
......... Number of jobs scraped 5620 .........
......... Number of jobs scraped 5630 .........
......... Number of jobs scraped 5640 .........
......... Number of jobs scraped 5650 .........
......... Number of jobs scraped 5660 .........
......... Number of jobs scraped 5670 .........
......... Number of jobs scraped 5680 .........
......... Number of jobs scraped 5690 .........
......... Number of jobs scraped 5700 .........
......... Number of jobs scraped 5710 .........
......... Number of jobs scraped 5720 .........
......... Number of jobs scraped 5730 .........
......... Number of jobs scraped 5740 .........
......... Number of jobs scraped 5750 .........
......... Number of jobs scraped 5760 .........
......... Number of jobs scraped 5770 .........
......... Number of jobs scraped 5780 .........
......... Number of jobs scraped 5790 .........
......... Number of jobs scraped 5800 .........
......... Number of jobs scraped 5810 .........
......... Number of jobs scraped 5820 .........
......... Number of jobs scraped 5830 .........
......... Number of jobs scraped 5840 .........
......... Number of jobs scraped 5850 .........
......... Number of jobs scraped 5860 .........
......... Number of jobs scraped 5870 .........
......... Number of jobs scraped 5880 .........
......... Number of jobs scraped 5890 .........
......... Number of jobs scraped 5900 .........
......... Number of jobs scraped 5910 .........
......... Number of jobs scraped 5920 .........
......... Number of jobs scraped 5930 .........
......... Number of jobs scraped 5940 .........
......... Number of jobs scraped 5950 .........
......... Number of jobs scraped 5960 .........
......... Number of jobs scraped 5970 .........
......... Number of jobs scraped 5980 .........
......... Number of jobs scraped 5990 .........
......... Number of jobs scraped 6000 .........

,job_titles,companies,locations,reviews,salaries,job_types,ratings
0,\nMCM Analytics and Reporting\n,\n\nQuintilesIMS,"Plymouth Meeting, PA",913.0,NaN,NaN,44.4
1,\nMES Application Analyst\n,\n\nFinisar,"Fremont, CA 94538 (Irvington area)",47.0,NaN,NaN,43.2
2,\nJunior Analyst\n,\n\nMorgan Borszcz Consulting,"Cherry Point, NC",11.0,NaN,NaN,51.0
3,\nData Analyst\n,\n\nPlanSource,"Orlando, FL",23.0,NaN,NaN,41.4
4,\nJr. Data Analyst and Programmer (Health Cons...,\n\nLogistics Management Institute,"Tysons, VA",22.0,NaN,NaN,51.0
5,\nData Analyst\n,\n\nGroup O,"San Antonio, TX",85.0,NaN,NaN,40.2
6,\nAssociate Data Scientist\n,\n\nLimeade,"Bellevue, WA 98004 (Downtown area)",6.0,NaN,NaN,30.0
7,\nData Processing Operator - Optics\n,\n\nHarris Corporation,"Kekaha, HI 96752",353.0,NaN,NaN,42.6
8,\nData Administrator\n,\n\nNextgen Technologies,United States,2.0,NaN,NaN,39.0
9,\nBusiness Analyst ? Capital Markets Analytics...,\n\nFirst Guaranty Mortgage Corporation,"Plano, TX 75023",22.0,NaN,NaN,32.4
10,\nMCM Analytics and Reporting\n,\n\nQuintilesIMS,"Plymouth Meeting, PA",913.0,NaN,NaN,44.4
11,\nMES Application Analyst\n,\n\nFinisar,"Fremont, CA 94538 (Irvington area)",47.0,NaN,NaN,43.2
12,\nJunior Analyst\n,\n\nMorgan Borszcz Consulting,"Cherry Point, NC",11.0,NaN,NaN,51.0
13,\nData Analyst\n,\n\nPlanSource,"Orlando, FL",23.0,NaN,NaN,41.4
14,\nJr. Data Analyst and Programmer (Health Cons...,\n\nLogistics Management Institute,"Tysons, VA",22.0,NaN,NaN,51.0
15,\nData Analyst\n,\n\nGroup O,"San Antonio, TX",85.0,NaN,NaN,40.2
16,\nAssociate Data Scientist\n,\n\nLimeade,"Bellevue, WA 98004 (Downtown area)",6.0,NaN,NaN,30.0
17,\nData Processing Operator - Optics\n,\n\nHarris Corporation,"Kekaha, HI 96752",353.0,NaN,NaN,42.6
18,\nData Administrator\n,\n\nNextgen Technologies,United States,2.0,NaN,NaN,39.0
19,\nBusiness Analyst ? Capital Markets Analytics...,\n\nFirst Guaranty Mortgage Corporation,"Plano, TX 75023",22.0,NaN,NaN,32.4

In [12]:
results.to_pickle('results_2.pickle')

In [ ]:
time.sleep(60)

In [14]:
results.salaries.isnull().sum()

2496

In [15]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
job_titles    2500 non-null object
companies     2500 non-null object
locations     2500 non-null object
reviews       2247 non-null float64
salaries      4 non-null object
job_types     0 non-null float64
ratings       2247 non-null float64
dtypes: float64(3), object(4)
memory usage: 136.8+ KB